@import url('https://fonts.googleapis.com/css?family=Poppins:eght@200;400&display=swap');


* {
  box-sizing: border-box;
}

body {
    background-color: #1b4146;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.btn {
  background: #1b4146;
  box-shadow: inset 17px -17px 27px #0b1a1c,
              inset -17px 17px 27px #2b6870;
  border-radius: 10px;
  border: none;
  color: rgb(87, 116, 117);
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  font-family: inherit;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  background: #153f44;
  box-shadow: inset 17px -17px 27px #0b1a1c,
              inset -17px 17px 27px #2b6870;
  transform: scale(1.05);
  color: #91b0b9e3;;
}

.btn:active {
  color: rgb(87, 116, 117);
  transform: scale(0.95);
  box-shadow: inset 17px -17px 27px #24575e,
              inset -17px 17px 27px #0b1a1c;
}

