@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
  box-sizing: border-box;
}

body {
    background-color: #ffb866;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    margin: 0;
    padding: 20px;
}

.container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
  padding: 50px 20px;
  text-align: center;
  max-width: 100%;
  width: 800px;

}

h1 {
  margin: 0;
  opacity: 1;
  letter-spacing: 2px;
  color: #ff4800;
  font-weight: 700;
  transition: 0.3s ease-in-out;
}

.joke {
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 40px;
  margin: 50px auto;
  max-width: 600px;
  transition: 0.3s ease;
}

@media screen and (max-width: 600px) {
    .joke {
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 0.9px;
      margin: 40px auto;
    }

    h1 {
      font-size: 150%;
    }
}

.btn {
  background-color: #ff6528;
  color: rgb(255, 245, 238);
  border: 0;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
  padding: 14px 40px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:active {
  transform: scale(0.95);
}

.btn:focus {
  outline: 0;
}