@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

* {
  box-sizing: border-box;
}

body {
    background-color: #c4f7ec;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow-x: hidden;
}

h1 {
  margin: 10px;
}

.box {
  background-color: rgba(70, 180, 171, 0.733);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0,0,0,0.3);
  transform: translateX(400%);
  transition: transform 0.7s ease;
}

.box:nth-of-type(even) {
  transform: translateX(-400%);
  background-color: rgba(13, 99, 92, 0.774);
}

.box.show {
  transform: translateX(0%);
}

.box h2 {
  font-size: 46px;
}
